<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="pokemonCardContainer">
      <% data.forEach((pokemon) => { %>
      <div class="pokemonCard">
        <p><%= (pokemon.id).toString().padStart(3, '0') %></p>
        <h2><%= pokemon.name %></h2>
        <img className="pokemonImage" src="<%= pokemon.img_url%>" />
        <p><%= pokemon.types %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
